[submodule "thirdparty/ecal-common"]
	path = thirdparty/ecal-common
	url = https://github.com/vilota-dev/ecal-common.git
[submodule "thirdparty/basalt-headers"]
	path = thirdparty/basalt-headers
	url = https://github.com/chengguizi/basalt-headers.git
	branch = master-sqrt
[submodule "thirdparty/MAVSDK"]
	path = thirdparty/MAVSDK
	url = https://github.com/vilota-dev/MAVSDK.git
	branch = px4-v2
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
