[submodule "thirdparty/ecal-common"]
	path = thirdparty/ecal-common
	url = https://github.com/vilota-dev/ecal-common.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/MAVSDK"]
	path = thirdparty/MAVSDK
	url = https://github.com/vilota-dev/MAVSDK.git
